{
        "data": {
                "job": "job",
                "log": "log,
                "filename": "mkv,mp4",
                "directory": "~/checkerrr/"
        },
        "libary": {
                "tv": "/tv/",
                "movies": "/movies/",
                "music": "/music/"
        }
}
